body{
    text-align: center;
    background: #e2e2e2
}

.title-text{
    font-size: 2rem;
}

#aiko{
    font-size: 2rem;
}

.janken{
    margin-top: 2rem;
    width: 200px;
    height: 60px;
    font-size: 2rem;
}

#gu{
    display: inline-block;
    background: #fc0303;
    color: #FFFFFF;
}

#choki{
    display: inline-block;
    background: #0000FF;
    color: #FFFFFF;
}

#pa{
    display: inline-block;
    background: #FFD700;
    color: #FFFFFF;
}

#ue{
    display: none;
    margin-top: 2rem;
    background: #1bb1d6;
    width: 200px;
    height: 60px;
    color: #ffffff;
    font-size: 2rem;
}


#hidari{
    display: none;
    margin-top: 2rem;
    background: #ff6fc8;
    width: 200px;
    height: 60px;
    color: #ffffff;
    font-size: 2rem;
}

#migi{
    display: none;
    margin-top: 2rem;
    background: #1a9c0f;
    width: 200px;
    height: 60px;
    color: #ffffff;
    font-size: 2rem;
}

#sita{
    display: none;
    margin-top: 2rem;
    background: #ee7d13;
    width: 200px;
    height: 60px;
    color: #ffffff;
    font-size: 2rem;
}

#syouhai{
    display: none;
    margin-top: 2rem;
    width: 200px;
    height: 60px;
    font-size: 2rem;
}

#reload{
    margin-top: 3rem;
    background: #c740f0;
    width: 200px;
    height: 60px;
    color: #ffffff;
    font-size: 2rem;

    border: black;
}

.config{
    margin-top: 50px;
}


.difficulty{
    font-size: 12px;
}




